node_modules/
dist/
npm/
coverage/
.DS_Store
docs/
.env
.idea
example/*.key
example/*.crt
example/fido-conformance-mds/*
!example/fido-conformance-mds/.gitkeep
packages/*/package-lock.json
scratchenv/
