* {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f7f7;
}

h1 {
  font-size: 2.25rem;
}

button {
  padding: 0.5rem;
  background: white;
  border-radius: 0.25rem;
  width: 13rem;
}

button:active {
  background: #eeeeee;
}

button:hover {
  background: #efefef;
}

details {
  margin-top: 0.75rem;
}

.container {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

.error {
  color: red;
}

.success {
  color: #11a000;
}

#regDebug, #authDebug {
  background: #efefef;
  border-radius: 0.25rem;
  text-align: left;
  font-size: 0.7rem;
  padding: 0.5rem;
  height: 15rem;
  width: 95%;
  overflow-y: auto;
}

/* Desktop Styles */
@media (min-width: 75rem) {
  * {
    font-size: 20px;
  }

  .container {
    width: 45rem;
  }
}
